.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    margin: 24px 0;
}

header .logo {
    height: 32px;
    
}

/* .cabecalho h2 {
    font-size: 18px;
} */

.menu {
    display: flex;
    transition: 0.4s;
}

.itemsMenu {
    padding: 8px 16px;

}

.itemsMenu .link {
    
    color: #767b7e;
}




.burgerMenu {
    cursor: pointer;
    
}