.principal {
    display: flex;
    align-items: center;
}

.principal h1, p {
    margin: 16px 0 24px;
    color: #767b7e;
}

.principal p {
    max-width: 300px;
}

.principal .sectionForm form {
    display:flex;  
}

.sectionForm input {
    border-radius: 8px;
    color: #767b7e;

    font-size: 18px;
    font-family: 'Fredoka', sans-serif;
    
    margin: 0 0 24px;
    padding-left: 16px;
    
    width: 300px;
    height: 64px;
}

.sectionForm label {
    font-weight: bold;
    letter-spacing: 1px;
    width: 300px;
    color: #0070AD;
    margin: 0 0 16px;
}

.sectionForm input::placeholder {
    font-size: 1rem;
    opacity: 0.3;
    padding-left: 16px;
 }

 .alertErro {
     padding: 8px 24px;
     margin: 0 8px;
     background-color: #ffae004d;
     border: solid 2px #ffae00c2;
 }

 .sectionForm .btn:disabled {
    background-color: #bebebe;
 }


.sectionForm .btn {
    border: none;
    background-color: #0070AD;
    color: white;

    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}



#secaoResultado .resultado {
    background-color: #FFB000;
    color: white;
    border-radius: 8px;
    
    font-size: 96px;
    font-weight: bold;

    padding: 56px 64px;

}

footer {
    color: #B6C0C5;
    text-align: center;
}